<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MODELO DE AUTO</title>
    <link rel="stylesheet" href="../styles/addModelCar.css">
    <link rel="stylesheet" href="../styles/reportStatus.css">
</head>
<body>
    <div id="reportStatus"></div>
    <div class="titleContnet">
        <h2>MODELOS DE AUTO</h2>
    </div>

    <div id="seeCarsSaved"></div>

    <!-- controlador para añadir un modelo y marca de atuo -->
    <div class="addCarsController" id="addCarsController">
        <div class="inputContainer">
            <label for="brand">MARCA</label>
            <input type="text" id="brand" placeholder="MARCA . . .">
        </div>

        <div class="inputContainer">
            <label for="model">MODELO</label>
            <input type="text" id="model" placeholder="MARCA . . .">
        </div>

        <div id="alert"></div>

        <button id="addCar">AÑADIR</button>
    </div>
    <!-- controlador para modficiar el modelo y marca guardado -->
    <div id="modifyCarController">
        <div class="inputsCar">
            <div class="brandContent">
                <label for="brandCar">Marca</label>
                <input type="text" name="brandCar" id="brandCar">
            </div>
            
            <div id="modelCar">
                <label for="modelCar">Modelo</label>
                <input type="text" name="modelCar" id="modelCarInput">
            </div>
        </div>


        <div class="buttonController">
            <button id="quitModifyCar">Cancelar</button>
            <button id="deleteCar">Eliminar</button>
            <button id="saveModifyCar">Guardar</button>
        </div>
    </div>
    <!-- controlador para añadir un nuevo modelo y marca -->
    <div id="addCarController">
        <div class="inputsCar">
            <div class="brandContent">
                <label for="brandCar">Marca</label>
                <input type="text" name="brandCar" id="newBrandCar">
            </div>
            
            <div id="modelCar">
                <label for="modelCar">Modelo</label>
                <input type="text" name="modelCar" id="newModelCarInput">
            </div>
        </div>


        <div class="buttonController">
            <button id="quitNewCar">Cancelar</button>
            <button id="saveNewCar">Guardar</button>
        </div>
    </div>

    <!-- controlador de la ventana -->
    <div class="buttonController">
        <button id="quitForm">Salir</button>
        <button id="addModelCar">Agregar</button>
    </div>

    <script src="../scripts/addModelCar.js"></script>
</body>
</html>