<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AÑADIR CTACTE</title>
    <link rel="stylesheet" href="../styles/addNewCtaCte.css">
    <link rel="stylesheet" href="../styles/reportStatus.css">
</head>
<body>
    <div class="titleContent">
        <h2>AGREGAR NUEVA CUENTA CORRIENTE</h2>
    </div>
    <div class="containerAll">
        <div class="bodyContent">
            <div class="fomContent">
                <div class="inputContent">
                    <label for="date">FECHA</label>
                    <input type="text" name="date" id="fecha">
                </div>
                <div class="inputContent">
                    <label for="name">Nombre</label>
                    <input type="text" name="name" id="name">
                </div>
                <div class="inputContent">
                    <label for="cuit">CUIT</label>
                    <input type="number" name="cuit" id="cuit">
                </div>
                <div class="inputContent">
                    <label for="iva">IVA</label>
                    <input type="text" name="iva" id="iva">
                </div>
                <div class="inputContent">
                    <label for="phValue">VALOR PH</label>
                    <input type="number" name="phValue" id="valorph">
                </div>
                <div class="inputContent">
                    <label for="conversion">CONVERSIN</label>
                    <input type="number" name="conversion" id="conversion">
                </div>
                <div class="inputContent">
                    <label for="modificacion">MODIFICACION</label>
                    <input type="number" name="modificacion" id="modificacion">
                </div>
                <div class="inputContent">
                    <label for="revanual">REVISION ANUAL</label>
                    <input type="number" name="revanual" id="revanual">
                </div>
                <div class="inputContent">
                    <label for="desmontaje">DESMONTAJE</label>
                    <input type="number" name="desmontaje" id="desmontaje">
                </div>
                <div class="inputContent">
                    <label for="baja">BAJA</label>
                    <input type="number" name="baja" id="baja">
                </div>
            </div>
        </div>
        <div id="alertPrintedContent">

        </div>
    

        <div class="buttonController">
            <button id="quiteCtaCte">CANCELAR</button>
            <button id="saveCtaCte">GUARDAR</button>
        </div>
    </div>
    <script src="../scripts/addNewCtaCte.js"></script>
</body>
</html>