<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NUEVA LOCALIDAD</title>
    <link rel="stylesheet" href="../styles/addNewLocation.css">
</head>
<body>
    <div class="titleContent">
        <h2>NUEVA LOCALIDAD</h2>
    </div>

    <div class="containerAllForm">
        <div class="formContent">
            <label for="name">NOMBRE</label>
            <input type="text" name="name" id="nameLocation">
        </div>
        
        <div class="formContent">
            <label for="cp">CODIGO POSTAL (cp)</label>
            <input type="number" name="cp" id="cpLocation">
        </div>
    </div>

    <div class="buttonController">
        <button id="quitNewLocation">CANCELAR</button>
        <button  id="saveNewLocation">GUARDAR</button>
    </div>
    <script src="../scripts/addNewLocation.js"></script>
</body>
</html>