<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Series de la WEB</title>
    <link rel="stylesheet" href="../styles/addSerialsFromWeb.css">
    <link rel="stylesheet" href="../styles/backElement.css">
    <link rel="stylesheet" href="../styles/reportStatus.css">
</head>
<body>
    <div id="backBtn"></div>
    <div id="reportStatus"></div>
    <div id="succesAlert"></div>

    <div class="containerAll">

        <!-- se ubican todas las series -->
        <div id="serialsContent">
            <strong class="noWebData">No hay series cargadas desde la web por el momento </strong>
        </div>

    </div>

    <script src="../scripts/addSerialsFromWeb.js"></script>
</body>
</html>