<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cargar cilindro</title>
    <link rel="stylesheet" href="../styles/chargeCilinders.css">
</head>
<body>

    <div class="containerAll">
        <div class="formCilinder">
            <div class="infoContent">
                <select name="idtype" id="idtype" class="dataClient">
                    <option value="DNI">D.N.I</option>
                    <option value="LC">L.C</option>
                    <option value="LE">L.E</option>
                    <option value="CUIT">CUIT</option>
                </select>
                <input type="number" name="dni" id="dni" placeholder="778246857 . . ." class="dataClient">
            </div>

            <div class="infoContent">
                <label for="nameAndSurname">Nombre y apellido</label>
                <input type="text" name="names" id="nameandsurname"  placeholder="Nombre Apellido . . ." class="dataClient">
            </div>

            <div class="infoContent">
                <div class="labelAndMore">
                    <label for="country">Localidad</label>
                    <button class="addCountry"  id="addCountry">+</button>
                </div>
                
                <div class="locationContent">
                    <input type="text" name="location" id ="country" placeholder="LOCALIDAD . . ." class="dataClient">
                    <div class="resultsContent" id="resultsContent">
                        <!-- EN ESTA ZONA SE CARGAN LAS LOCALIDADES -->
                    </div>
                </div>
            </div>
            <div class="infoContent"  id="provinciaContent">
                <label for="provincia">provincia </label>
                <select name="country" id="provincia" class="dataClient">

                </select>
            </div>

            <div class="infoContent">
                <label for="cp">codigo postal</label>
                <input type="text" name="cp" id="cp" class="dataClient">
            </div>
            <div class="infoContent">
                <label for="direcion">direccion</label>
                <input type="text" name="direccion" id="direccion" placeholder="Una Direccion 123" class="dataClient">
            </div>
            <div class="infoContent">
                <label for="domain">Dominio</label>
                <input type="text" name="domain" id="domain" placeholder="AB123CD" class="dataClient">
            </div>

            <div class="buttonConttroller">
                <button id="quitForm">CANCELAR</button>
                <button id="nextForm">SIGUIENTE</button>
            </div>
        </div>

        <div class="allDataContainer">
            
            <div class="dataContainer">
                <h2 id="dataForUser"> </h2>
            </div>
            

        </div>
    </div>

   <script src="../scripts/chargeCilinders.js"></script>
</body>
</html>
