<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VER CILINDROS</title>
    <link rel="stylesheet" href="../styles/cilinder.css">
</head>
<body>
    <div class="searhContent">
        <div class="searchController">
            <input type="text" id="searchData" placeholder="BUSCAR . . .">
            <button onclick="startSearch()">BUSCAR</button>
        </div>
    </div>

    <div class="listContent">
        <div id="alertContnet"></div>
        <div class="reference">
            <strong>CTA CTE</strong>
            <strong>COD CILINDRO</strong>
            <strong>CONDENA</strong>
            <strong>CODIGO INTERNO</strong>
            <strong>NUM CERTIFICADO</strong>
        </div>
        <div id="defaultCharge">

        </div>
    </div>

    <div class="backController">
        <button id="quitWindow">CANCELAR</button>
    </div>
    <script src="../scripts/cilinder.js"></script>
</body>
</html>