<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ensayo de cilindro ,diamero y espesores </title>
    <link rel="stylesheet" href="../styles/cilinderTestAndDiameter.css">
</head>
<body>
    <div class="bodyContent">
        <div class="bodyLeft">
            <div class="thinkness">
                <h3>ESPESORES <strong id="minEspesor"></strong> </h3>
                <div class="thinknessContent">
                    <h2>LONGITUDINALES</h2>
                    <div class="longitudinales">
    
                        <div class="logitudesDiv">
                            <div class="dataDivisor">
                                <label for="thikness1">ESPESOR 1</label>
                                <input type="decimal" class="dataGeted" name="diametro" id="diametro1">
                            </div>
                            <div class="dataDivisor">
                                <label for="thikness2">ESPESOR 2</label>
                                <input type="decimal" class="dataGeted" name="diametro" id="diametro2">
                            </div>
                            <div class="dataDivisor">
                                <label for="thikness3">ESPESOR 3</label>
                                <input type="decimal" class="dataGeted" name="diametro" id="diametro3">
                            </div>
                            <div class="dataDivisor">
                                <label for="thikness4">ESPESOR 4</label>
                                <input type="decimal" class="dataGeted" name="diametro" id="diametro4">
                            </div>
                            <div class="dataDivisor">
                                <label for="thikness5">ESPESOR 5</label>
                                <input type="decimal" class="dataGeted" name="diametro" id="diametro5">
                            </div>
                        </div>
                        
                        <div class="longitudinalesDiv">
                            <div class="longitudesDiv">
                                <div class="dataDivisor">
                                    <label for="thikness6">ESPESOR 6</label>
                                    <input type="number" class="dataGeted" name="diametro" id="diametro6">
                                </div>
                            </div>
                            
                            <div class="longitudesDiv">
                                <div class="dataDivisor">
                                    <label for="thikness7">ESPESOR 7</label>
                                    <input type="number" class="dataGeted" name="diametro" id="diametro7">
                                </div>
                            </div>
                            <div class="longitudesDiv">
                                <div class="dataDivisor">
                                    <label for="thikness8">ESPESOR 8</label>
                                    <input type="number" class="dataGeted" name="diametro" id="diametro8">
                                </div>
                            </div>
                            <div class="longitudesDiv">
                                <div class="dataDivisor">
                                    <label for="thikness9">ESPESOR 9</label>
                                    <input type="number" name="thikness9" id="thikness9">
                                </div>
                            </div>
                            <div class="longitudesDiv">
                                <div class="dataDivisor">
                                    <label for="thikness10">ESPESOR 10</label>
                                    <input type="number" name="thikness10" id="thikness10">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="succesOrDangerousLength" id="succesOrDangerousLength"></div>
            </div>
    
            <div class="comunAndSpecial">
                <div class="comunContent">
                    <h2>FONDO COMUN <strong id="underSimple"></strong></h2>
                    <div class="fondoComun">
                        <div class="dataDivisor">
                            <label for="thikness1Fondo">ESPESOR 1</label>
                            <input type="number" class="dataGeted" name="thikness1Fondo" id="fondo1">
                        </div>
                        <div class="dataDivisor">
                            <label for="thikness2Fondo">ESPESOR 2</label>
                            <input type="number" class="dataGeted" name="thikness2Fondo" id="fondo2">
                        </div>
                        <div class="dataDivisor">
                            <label for="thikness3Fondo">ESPESOR 3</label>
                            <input type="number" class="dataGeted" name="thikness3Fondo" id="fondo3">
                        </div>
                        <div class="dataDivisor">
                            <label for="thikness4Fondo">ESPESOR 4</label>
                            <input type="number" class="dataGeted" name="thikness4Fondo" id="fondo4">
                        </div>
                        <div class="dataDivisor">
                            <label for="thikness5Fondo">ESPESOR 5</label>
                            <input type="number" class="dataGeted" name="thikness5Fondo" id="fondo5">
                        </div>
                        <div class="dataDivisor">
                            <label for="thikness3Fondo">ESPESOR 6</label>
                            <input type="number" class="dataGeted" name="thikness6Fondo" id="fondo6">
                        </div>
                    </div>
                    <div id="succesOrDangerousUnder">
                        
                    </div>

                </div>   
            </div>
    
            <div class="ojivConent">
                <h3>OJIVA <strong id="idOjiva"></strong> </h3>
                <div class="ojivasContentDivs">
                    <div class="ojiva">
                        <div class="ojivaSection">
                            <div class="dataDivisor">
                                <label for="thikness1Ojiva">ESPESOR 1</label>
                                <input type="number" class="dataGeted" name="thikness1Ojiva" id="ojiva1">
                            </div>
                            <div class="dataDivisor">
                                <label for="thikness2Ojiva">ESPESOR 2</label>
                                <input type="number" class="dataGeted" name="thikness2Ojiva" id="ojiva2">
                            </div>
                            <div class="dataDivisor"><label for="thikness3Ojiva">ESPESOR 3</label>
                                <input type="number" class="dataGeted" name="thikness3Ojiva" id="ojiva3">
                            </div>
                        </div>
                    </div>
                
                    <div class="ojiva">
                        <div class="ojivaSection">
                            <div class="dataDivisor">
                                <label for="thikness4Ojiva">ESPESOR 4</label>
                                <input type="number" class="dataGeted" name="thikness4Ojiva" id="ojiva4">
                            </div>
                            <div class="dataDivisor">
                                <label for="thikness5Ojiva">ESPESOR 5</label>
                                <input type="number" class="dataGeted" name="thikness5Ojiva" id="ojiva5">
                            </div>
                            <div class="dataDivisor">
                                <label for="thikness6Ojiva">ESPESOR 6</label>
                                <input type="number" class="dataGeted" name="thikness6Ojiva" id="ojiva6">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="ojivaMessage">

                </div>
            </div>
        </div>

        <div class="bodyRight">
            <div class="diameters">
                <div class="diamTtile">
                    <h3>DIAMETROS <strong id="diameterMin"></strong></h3>
                </div>
                

                <div class="diametersContentInputs">
                    <div class="diametersA">
                        <div class="diamInpts">
                            <label for="diameter1diam">DIAMETRO 1</label>
                            <input type="decimal" class="dataGeted" name="diameter1diam" id="diam1">
                        </div>
                        <div class="diamInpts">
                            <label for="diameter2diam">DIAMETRO 2</label>
                            <input type="decimal" class="dataGeted" name="diameter2diam" id="diam2">
                        </div>
                        <div class="diamInpts">
                            <label for="diameter3diam">DIAMETRO 3</label>
                            <input type="decimal" class="dataGeted" name="diameter3diam" id="diam3">
                        </div>
                    </div>

                    <div class="diametersB">
                        <div class="diamInpts">
                            <label for="diameter1diam90">DIAMETRO  90º 1</label>
                            <input type="text" class="dataGeted" name="diameter1diam90" id="diam4">
                        </div>
                        <div class="diamInpts">
                            <label for="diameter2diam90">DIAMETRO 90º 2</label>
                            <input type="text" class="dataGeted" name="diameter2diam90" id="diam5">
                        </div>
                        <div class="diamInpts">
                            <label for="diameter3diam90">DIAMETRO 90º 3</label>
                            <input type="text" class="dataGeted" name="diameter3diam90" id="diam6">
                        </div>
                    </div>
                </div>
                <div id="diameterMessage">
                    
                </div>
            </div>

            <div class="testData">
                <div class="testContent">
                    <div class="testTitle">
                        <h3>DATOS DEL ENSAYO</h3>
                    </div>
                    
                    <div class="contentTestInput">
                        <div class="diamInpts">
                            <label for="expancion">EXPANCION TOTAL</label>
                            <input type="number" class="dataGeted" name="expancion" id="expansiontotal">
                        </div>
                        <div class="diamInpts">
                            <label for="expancionPer">EXPANCION PERMANENTE</label>
                            <input type="number" class="dataGeted" name="expancionPer" id="expansionpermanente">
                        </div>
                        <div class="diamInpts">
                            <label for="bureta">BURETA</label>
                            <select name="bureta" class="dataGeted" id="bureta">
                                <option value="mayor">MAYOR</option>
                                <option value="menor">MENOR</option>
                                <option value="mayor y menor">MAYOR Y MENOR</option>
                            </select>                           
                        </div>
                        <div class="diamInpts">
                            <label for="tempWater">TEMPERATURA DEL AGUA</label>
                            <input type="number" class="dataGeted" name="tempWater" id="watertemperature">
                        </div>
                        <div class="diamInpts">
                            <label for="capMedida">CAPACIDAD MEDIDA</label>
                            <input type="number" class="dataGeted" name="capMedida" id="volmedido">
                        </div>
                        <div class="diamInpts">
                            <label for="taraMedida">TARA MEDIDA</label>
                            <input type="number" class="dataGeted" name="taraMedida" id="taramedido">
                        </div>
                    </div>
                </div>
            </div>

            <div class="obs">
                <div class="obsTitle">
                    <h2>OBSERVACIONES</h2>
                </div>

                <div class="obsContent">
                    <textarea name="obsTextarea" class="dataGeted" id="obs"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="buttnontroller">
        <button id="backTo">ANTERIOR</button>
        <button id="saveAndExit">GUARDAR Y SALIR</button>
    </div>
    <script src="../scripts/cilinderTestAndDiameter.js"></script>
</body>
</html>