<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagos y Gastos diarios</title>
    <link rel="stylesheet" href="../styles/dayliPayOrDebit.css">
    <link rel="stylesheet" href="../styles/reportStatus.css">
</head>
<body>
    <!-- contenedor de alerta -->
    <div id="reportStatus"></div>

    <div class="coontainerAll">
        <!-- contenedor del buscador y el controlador de fechas -->
        <div class="headerSection">
            <div class="searchContent">
                <input type="text" placeholder="Buscar registro . . ." id="searchPayOrDebit"> <br>
                <button id="seeAll">Ver todo</button>
            </div>
            
            <!-- contenedor de la fecha con su boton para buscar -->
            <div class="dateContnet">
                <div class="dateContent">
                    <label for="day">Día</label>
                    <input type="number" >
                </div>
                <div class="dateContent">
                    <label for="month">Mes</label>
                    <input type="number">
                </div>
                <div class="dateContent">
                    <label for="year">Año</label>
                    <input type="number" >
                </div>

                <button id="searchDate">Buscar</button>
            </div>
        </div>
        <!-- guia para pagos o debitos -->
         <div class="payOrDebitGuide">
            <strong>Pagos</strong>
            <strong>Gastos</strong>
         </div>
        <!-- controladores para agrgar pagos o debitos -->
        <div class="listController">
            <!-- conttrolador de pagos -->
            <div class="newPayContent">
                <input type="text" id="creditor" placeholder="Acredor . . .">
                <input type="number" id="value" placeholder="valor . . .">
                <button id="addDayliPay" name="dailyPay">+</button>
            </div>
            <!-- contenedor de egresos -->
            <div class="newDebitContent">
                <input type="text" id="creditor" placeholder="Egreso . . .">
                <input type="number" id="value" placeholder="valor . . .">
                <button id="addDayliEgress" name="dailyegress">+</button>
            </div>
        </div>

        <!-- lista de pagos y egresos general-->
        <div id="payAndEgressGeneral">
            <!-- resultados -->
            <div id="defaultResults">
                <!-- resultados buscados -->
                <div class="contentResults">
                    <div id="paySearch"></div>
                    <div id="egressSearch"></div> 
                </div>
                <!-- resultados predeterminados -->
                <div class='dataResults' id="payDefault"></div>
                <div class='dataResults' id="egressDefault"></div>
            </div>
        </div>
    </div>

    <script type="module" src="../scripts/dayliPayOrDebit.js"></script>
</body>
</html>