<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONSUMIDOR FINAL</title>
    <link rel="stylesheet" href="../styles/endConsumer.css">
    <link rel="stylesheet" href="../styles/backElement.css">
</head>
<body>
    <!-- boton para volver -->
    <div id="backBtn">

    </div>

    <div class="titleContent">
        <h2>Consumidor Final</h2>
    </div>
    <!-- se ubican los resultados de la cuenta -->
    <div id="listContetnt">

    </div>

    <div class="buttonController">
        <button id="modifyAcount">MODIFICAR CUENTA</button>
    </div>

    <script src="../scripts/endConsumer.js"></script>
</body>
</html>