<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CARGAR PH</title>
    <link rel="stylesheet" href="../styles/hidraulicTest.css">
    <link rel="stylesheet" href="../styles/reportStatus.css">
</head>
<body>
    <div id="alertContent"></div>
    <div class="searcher">
        <input type="text" id="searcherInput" onkeyup="searchTdm(event)" placeholder="BUSCAR TDM">

        <div class="cntrollerSearcher">
            <input type="text" id="inputSerialCilinder" onkeyup="searchCilinderContainer(event)" placeholder="BUSCAR CLNDRO NºSERIE ">
            <button onclick="">BUSCAR</button>
        </div>
	
        <div id="searcherContentInfo">
            <!-- SE UBICAN LOS RESULTADOS DE BUSQUEDA PARA LOS  TDM -->
        </div>
        <div id="searcherContainerResults">

            <div class="cilinderListContent" id="cilinderListContent">
                
                 <!-- SE UBICAN LOS RESULTADOS DE BUSQUEDA PARA TODOS LOS CILINDRS -->
            </div>
        </div>
        
    </div>

    <div class="container-list">
        <div class="userListContent"  id="userListContent">
            <!-- ACA SE UBICAN LOS TALLERES DE LA BASE DE DATOS -->
        </div>
    </div>

    <div class="closeButtonContent">
        <button class="closeButton" id="closeButton">SALIR</button>
        <button id="serialnumber">CORREGIR NUM INT Y NUM CERTIFICADO</button>
    </div>

    <script src="../scripts/hidraulicTest.js"></script>
</body>
</html>
