<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INICIO</title>
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/contextMenu.css">
</head>
<body>
    <div class="headeStartSession">
        <div id="imgContent">
            <div id="blurContent"></div>
        </div>
        <div class="sesionController">
            <div class="name">
                <label for="name">NOMBRE</label>
                <input type="text" name="name" id="nameAdmin" placeholder="NOMBRE . . .">                
            </div>

            <div class="pass">
                <label for="password">CLAVE</label>
                <input type="password" name="password" id="adminPass"placeholder="CLAVE . . .">
            </div>

            <button id="loginAdmin">INGRESAR</button>
        </div>

        <div id="toolAlertExpired"></div>

        <div class="alert" id="alert">

        </div>
        <div class="underSection">
            <div class="navegatorIcon">
                <button id="openNavegator"></button>
            </div>
            <div id="phtoBy">
            
            </div>
        </div>
    </div>
    <script src="../scripts/loginIndex.js"></script>
</body>
</html>