<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instrumental actualizado</title>
    <link rel="stylesheet" href="../styles/instrumental.css">
    <link rel="stylesheet" href="../styles/backElement.css">
    <link rel="stylesheet" href="../styles/reportStatus.css">
</head>
<body>
    <!-- boton para volver atras -->
    <div id="backBtn"></div>

    <div class="containerAll">
        <div class="titleContent">
            <h3>Instrumental de medición y control</h3>
        </div>
        <!-- controladores de la lista de herramientas -->
        <div class="listControllerContent">
            <!-- buscar herramienta -->
            <div class="sectionContent">
                <input type="text" id="searchTool"  placeholder="Buscar . . .">
            </div>
            <!-- añadir herramienta -->
            <div class="sectionContent">
                <button id="addNewTool">+</button>
            </div>
        </div>

        <!-- lista de herramientas -->
        <div id="toolList"> 
            <!-- se ubican la lista de resultados de busqueda -->   
            <div id="searchResults"></div>
                
            <!-- herramientas cargadas por defecto -->
            <div id="defaultLoadedTools"></div>
        </div>
        <!-- seccion de configuración de la herramienta cargada-->
        <div id="settingsOfToolLoaded">
            <!-- fecha de habiitación de la herramienta -->
            <div class="inputContent">
                <label for="habilitationDate">Fecha de Habilitación</label>
                <input type="text" name="habilitationDate">
            </div>
            <!-- fecha de vencimiento de la herramienta -->
            <div class="inputContent">
                <label for="expiredDate">Fecha de Vencimiento</label>
                <input type="text" name="expiredDate">
            </div>
            <!-- nombre de la herramienta -->
            <div class="inputContent">
                <label for="toolName">Nombre de la Herramienta</label>
                <input type="text" name="toolName">
            </div>

            <!-- controlador de la seccion de configuración -->
            <div class="buttonController">
                <button id="cancelProcess">Cancelar</button>
                <button id="saveChanges">Guardar</button>
            </div>
        </div>

    </div>
    
    <script src="../scripts/instrumental.js"></script>
</body>
</html>