<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/loadFile.css">
    <link rel="stylesheet" href="../styles/reportStatus.css">
    <link rel="stylesheet" href="../styles/succesAlert.css">
</head>
<body>
    <div id="succesContent"></div>
    <div id="reportStatus"></div>
    
    <!-- lista de cilindros exportados -->
    <div id="listExported">
        <button id="reeExportAllCilindersLastestDays">Volver a exportar todo</button>
        <div id="controllerCilinders">
            <h3>Historial de cilindros del día : <span id="dateExported"></span></h3>
            <div class='dateController'>
                <input type='text' placeholder='28/8/2024. . . ' id='dateSearcherDiv'>
                <button id='getCilndersForDate'>Buscar</button>
            </div>
        </div>
        <div id="cilindersList"></div>

    </div>
    
    <script src="../scripts/loadFile.js"></script>
</body>
</html>