<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valores modificados desde web</title>
    <link rel="stylesheet" href="../styles/loadProductsPricesFromWeb.css">
</head>
<body>

    <div class="containerAll">

        <!-- lista de productos modificados -->
        <div id="listProductsModified"></div>

        <div class="buttonController">
            <button id="saveData">Actualizar</button>
        </div>

    </div>

    <script src="../scripts/loadProductsPricesFromWeb.js"></script>
</body>
</html>