<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MODIFICAR CUENTA CORRIENTE</title>
    <link rel="stylesheet" href="../styles/modifyCtaCteData.css">
</head>
<body>
    
    <div class="titleContent">
        <h2>MODIFICAR CUENTA CORRIENTE</h2>
    </div>

    <div class="inputContainer" id="inputContainers">
        <div class="inputContent">
            <label for="name">NOMBRE</label>
            <input type="text" id="name">
        </div>
        <div class="inputContent">
            <label for="cuit">CUIT</label>
            <input type="text" id="cuitUser">
        </div>
        <div class="inputContent">
            <label for="iva">IVA</label>
            <input type="text" id="iva">
        </div>
        <div class="inputContent">
            <label for="phValue">VALOR PH</label>
            <input type="text" id="phValue">
        </div>
    </div>

    <div id="alertContent">

    </div>
    <div class="buttonController">
        <button id="quitModifyCtaCteData">CANCELAR</button>
        <button id="saveModifyCtaCteData">GUARDAR</button>
    </div>
    <script src="../scripts/modifyCtaCteData.js"></script>
</body>
</html>