<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MODIFICAR PROVINCIA</title>
    <link rel="stylesheet" href="../styles/modifyRegion.css">
</head>
<body>
    <div class="titleContent">
        <h2>MODIFICAR PROVINCIA</h2>
    </div>
    <div class="formContent">
        <input type="text" id="regionContent">
    </div>

    <div id="alertContent"></div>

    <div class="buttonController">
        <button id="cancelProcess">SALIR</button>
        <button id="saveRegion">GUARDAR</button>
    </div>

    <script src="../scripts/modifyRegion.js"></script>
</body>
</html>