<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MODIICAR LOCALIDAD</title>
    <link rel="stylesheet" href="../styles/modifyLocation.css">
</head>
<body>
    <div class="titleContent">
        <h2>MODIFICAR LOCALIDAD</h2>
    </div>

    <div class="bodyContent">
        <div class="formContent">
            <label for="name">NOMBRE</label>
            <input type="text" name="name" id="nameLocation">
        </div>
        <div class="formContent">
            <label for="cp">CODIGO POSTAL </label>
            <input type="number" name="cp" id="cpLocation">
        </div>
    </div>

    <div class="buttonController">
        <button id="quitModifyLocation">VOLVER</button>
        <button id="saveAndExit">GUARDAR</button>
    </div>

    <script src="../scripts/modifyLocation.js"></script>
</body>
</html>