<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MODIFICAR CONSUMIDOR FINAL</title>
    <link rel="stylesheet" href="../styles/backElement.css">
    <link rel="stylesheet" href="../styles/reportStatus.css">
    <link rel="stylesheet" href="../styles/modifyEndConsumer.css">
</head>
<body>
    <!-- se ubica el boton volver -->
    <div id="backBtn">

    </div>
    <!-- aca se ubica la alerta  desplegable -->
    <div id="alertContent"></div>
    <div class="titleContnet">
        <h2>Modificar Consumidor Final</h2>
    </div>

    <div class="inputContainer">
        <div class="labelContnt">
            <label for="name">Nombre</label>
            <input type="text" id="name">
        </div>
        <div class="labelContnt">
            <label for="percentAmmount">Porcentaje Adicional</label>
            <input type="number" id="percentAmmount">
        </div>
    </div>

    <div class="buttonController">
        <button id="saveChanges">GUARDAR</button>
    </div>
    <script src="../scripts/modifyEndConsumer.js"></script>
</body>
</html>