<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MODIFICAR TIPO DE CILINDRO</title>
    <link rel="stylesheet" href="../styles/modifyTipeCil.css">
</head>
<body>
    <div class="titleContent">
        <h2>MODIFICAR LOS DATOS DEL CILINDRO</h2>
    </div>

    <div class="bodyContent">
        <div class="inputContent">
            <label for="code">CODIGO DE CILINDRO</label>
            <input type="text" name="code" id="code">
        </div>
        <div class="inputContent">
            <label for="brand">MARCA</label>
            <input type="text" name="brand" id="brand">
        </div>
        <div class="inputContent">
            <label for="capacity">CAPACIDAD</label>
            <input type="number" name="capacity" id="capacity">
        </div>
        <div class="inputContent">
            <label for="rules">NORMAS</label>
            <input type="text" name="rules" id="rules">
        </div>
        <div class="inputContent">
            <label for="thikness">ESPESOR</label>
            <input type="number" name="thikness" id="thikness">
        </div>
        <div class="inputContent">
            <label for="coficent">COEFICIENTE</label>
            <input type="number" name="coficent" id="coficent">
        </div>
        <div class="inputContent">
            <label for="diameter">DIAMETRO</label>
            <input type="number" name="diameter" id="diametter">
        </div>
        <div class="inputContent">
            <label for="totalexp">EXPANSION TOTAL</label>
            <input type="number" name="totalexp" id="totalexpansion">
        </div>
        <div class="inputContent">
            <label for="maxexp">EXPANSION PERMANENTE</label>
            <input type="number" name="maxexp" id="maxexpansion">
        </div>
        <div class="inputContent">
            <label for="material">MATERIAL</label>
            <input type="text" name="material" id="material">
        </div>
    </div>

    <div class="buttonController">
        <button id="quitModifyTypeCil">CANCELAR</button>
        <button id="updateTypeCil">GUARDAR</button>
    </div>
    <script src="../scripts/modifyTipeCil.js"></script>
</body>
</html>