<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DATOS DE CUENTA CORRIENTE</title>
    <link rel="stylesheet" href="../styles/modifyCtaCte.css">
    <link rel="stylesheet" href="../styles/reportStatus.css">
    <link rel="stylesheet" href="../styles/backElement.css">
</head>
<body>
    <!-- ubicacion del boton salir -->
    <div id="backBtnContent"></div>
    <div id="alertContent"></div>
    <!-- controlador de modificación del remito ya existente -->
    <div id="modifyVoucherSaved">
        <div class="searchContainerProductsOnDb">
            <input type="text" placeholder="Buscar . . ." id="searchProductOnDb">
            <div id="resultsOfTheSearchProdsOnDb">
                <!-- se ubican los resultados de busqueda -->
            </div>
        </div>

        <div class="productsContainer">
            <div id="listProducts">
                <!-- se ubican todos los productos del remito -->
            </div>
            <div id="listOfSerialsProducts">
                <!-- en caso de seleccionarse un producto con serie estas se cargan aqui -->
            </div>
            <div class="finalValuesContent">
                <div class="totalValueInfo">
                    <label for="discountContainerInput">Descuento :</label>
                    <input type="number" id="descountInput">
                </div>
                <div class="totalValueInfo">
                    <label for="totalLabel">Total :</label>
                    <strong type="number" id="totalValueOfVoucher"></strong>
                </div>
            </div>
        </div>

        <div class="buttonController">
            <button id="cancelProcessBtn">Cancelar</button>
            <button id="saveModifyVocuher">Guardar</button>
        </div>
    </div>

    <!-- ubicacion del panel de modificacion de remitos -->
    <div id="modifyVoucherContent">
        <div class="intputContainer">
            <div id="firstData">
                <!-- contenedor de la fecha -->
                <div class="onlyInputSection">
                    <label for="date">Fecha de creación</label>
                    <input type="text" id="date">
                </div>
                <!-- nombre / observacion -->
                <div class="onlyInputSection">
                    <label for="obs">Nombre / Observaciones <span id="typeVoucher"></span> </label>
                    <input type="text" id="obs">
                </div>
                <!-- pago (lo q el cliente pago) -->
                <div class="onlyInputSection">
                    <label for="debit">pago (lo que el cliente pagó)</label>
                    <input type="text" id="debit">
                </div>
                <!-- debito (lo que el cliente debe) -->
                <div class="onlyInputSection">
                    <label for="pay">debito (lo que el cliente debe)</label>
                    <input type="text" id="pay">
                </div>
                <!-- total parcial que abarca el remito -->
                <div class="onlyInputSection">
                    <label for="total">Total Parcial </label>
                    <input type="text" id="total">
                </div>
            </div>
            <!-- dueño del remito -->
            <div class="ownerVoucher">
                <label for="owner">Dueño del remito</label>
                <div class="inputOwnerSection">
                    <strong id="idNewOwner"></strong>
                    <input type="text" id="owner">
                    <button id="changeOwner"></button>
                </div>
                
                <!-- buscador de cta cte's -->
                <div class="searchCtaCteContent">
                    <input type="text" id="searchCtaCte" placeholder="Buscar . . . ">
                    <div id="containerAllResults">
                        <!-- se ubican los resultados de la busqueda -->
                        <div id="resultsOfTheSearch"></div>
                        <!-- se ubican todos los resultaos -->
                        <div id="allResults"></div>
                    </div>
                </div>
            </div>
            <!-- controlador de botones -->
            <div class="buttonController">
                <button id="cancelSettingsVoucher">Cancelar</button>
                <button id="modifyVoucher">Modificar Remito</button>
                <button id="saveChangesInVoucher">Guardar</button>
            </div>
        </div>
    </div>
    <div class="formContent">
        <!-- contenedor del nombre de la cta cte -->
        <div class="dataContent" id="nameContent">
            <strong id="name"></strong>
        </div>
        
        <div class="inputContentPhValue">
            <!-- contnenedor del valor de la ph -->
            <div class="dataContent">
                <label for="phValue">VALOR PH</label>
                <strong id="phValue"></strong>
            </div>
        </div>
    </div>
    <!-- contenedor de alerta -->
    <div id="alertContnet">
        
    </div>


    <div class="alertBox" id="alertBox">

    </div>
    <!-- contenedor del buscador de remitos -->
    <div class="searchContainer">
        <div class="buttonsContent">
            <button id="newVoucher">Nuevo remito</button>
            <button id="addPay" >Imputar pago</button>  
        </div>
        
        <div class="searchVoucher">
            <input type="number" id="voucherNumSearched" placeholder="NUM.REMIT A BUSCAR">
            <button id="searchVoucher"></button>
        </div>
    </div>
    <div class="historyOperationsContet" id = "historyOperationsContet">
        <div class="strongContents">
            <strong>FECHA</strong>
            <strong>OBSERVACIONES</strong>
            <strong>PAGOS</strong>
            <strong>DEUDAS</strong>
            <strong>TOTAL</strong>
            <button id="printOperations">🖨️</button>
        </div>
        <div class="historyOperations" id="historyOperations">
            
        </div>
    </div>

    <div class="buttonController">
        <button id="saveChanges">Modificar Cuenta</button>
        <strong id="totalContainer">TOTAL <span id ="totalVal"></span> </strong>
    </div>

    <div id="modifyValuesForCtaCte">
        <div class="inputContainer" id="inputContainers">
            <div class="containerForInputs">
                <div class="inputContent">
                    <label for="name">Nombre</label>
                    <input type="text" name="name" id="name">
                </div>
                <div class="inputContent">
                    <label for="cuit">Cuit</label>
                    <input type="text" name="cuit" id="cuit">
                </div>
                <div class="inputContent">
                    <label for="iva">Iva</label>
                    <input type="text" name="iva" id="iva">
                </div>
                <div class="inputContent">
                    <label for="phValue">Valor ph</label>
                    <input type="text" name="phValue" id="valorph">
                </div>
                <div class="inputContent">
                    <label for="conversion">Conversion</label>
                    <input type="number" id="conversion" class="valueContent" >
                </div>
                <div class="inputContent">
                    <label for="modificacion">Modificacion</label>
                    <input type="number" id="modificacion" class="valueContent" >
                </div>
                <div class="inputContent">
                    <label for="revanual">Revanual</label>
                    <input type="number" id="revanual" class="valueContent">
                </div>
                <div class="inputContent">
                    <label for="desmontaje">Desmontaje</label>
                    <input type="number" id="desmontaje" class="valueContent">
                </div>
                <div class="inputContent">
                    <label for="baja">Baja</label>
                    <input type="number" id="baja" class="valueContent">
                </div>
                <div class="inputContent">
                    <label for="discount">Descuento en el remito</label>
                    <input type="number" id="discount" class="valueContent">
                </div>
            </div>
            <div class="buttonContentController">
                <button id="closeModifyValues">Cancelar</button>
                <button id="saveChangesModifyValues">Guardar</button>        
            </div>

        </div>
    </div>

    <script src="../scripts/modifyCtaCte.js"></script>
</body>
</html>