<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MODIFICAR KIT</title>
    <link rel="stylesheet" href="../styles/modifyKit.css">
</head>
<body>
    <div class="titleConent">
        <h2>AÑADIR PRODUCTOS</h2>
        <label for="nameKit">NOMBRE DEL KIT : </label>
        <input type="text" id="nameKit" name="nameKit">
    </div>

    <div class="listProducts" id="listProducts">

    </div>

    <div id="alertContent">

    </div>

    <div id="containerSearch">

    </div>


    <div class="valueKit">
        <input type="text" id="valueKit" >
    </div>
    <div class="buttonController">
        <button id="addProd">AÑADIR</button>
        <button id="saveKit">GUARDAR</button>
        <button id="deleteKit">BORRAR KIT</button>
    </div>

    <script src="../scripts/modifyKit.js"></script>
</body>
</html>