<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MODIFICAR NUMEROS</title>
</head>
<body>
    <input type="text" id="modifyInsideId" placeholder="CODIGO DE INTERNO">
    <input type="text" id="modifyCertificateNumber" placeholder="NUMERO DE CERTIFICADO">

    <button id="reloadData">ACTUALIZAR</button>

    <script src="../scripts/modifyDataCilinderSaved.js"></script>
</body>
</html>