<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NUEVO KIT</title>
    <link rel="stylesheet" href="../styles/newKit.css">
</head>
<body>
    <div class="titleContent">
        <h2>NUEVO KIT</h2>
    </div>

    <div class="searcherContent">

        <div class="nameKit">
            <input type="text" id="nameKit" placeholder="NOMBRE DEL KIT . . .">
        </div>

        <div class="inputSearch">
            <input type="text" id="searchProducts" placeholder="BUSCAR PRODUCTO . . " onkeyup="startSearch()">
            
            <div class="searchFor">
                <select name="" id="searchProdFor">
                    <option value="name">NOMBRE</option>
                    <option value="insideid">CODIGO</option>
                </select>
            </div>
        </div>

        <div class="searchResuts" id="searchResuts">

        </div>
    </div>

    <div class="kitPreferences">

        <div id="alert"></div>

        <div class="kitList" id="kitList">

        </div>

        <div class="buttonController">
            <button id="backToKits">VOLVER</button>
            <button id="saveKit">GUARDAR</button>

        </div>
    </div>

    <div class="valuesList">
        <strong>VALOR DE COSTO : <span id="cost">0</span> </strong> <br>
        <strong>VALOR DE VENTA : <span id="saleValue">0</span></strong>
        <input type="number" placeholder="VALOR DE VENTA . . . " id="finalValue">
    </div>
    <script src="../scripts/newKit.js"></script>
</body>
</html>