<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NUEVO PRODUCTO</title>
    <link rel="stylesheet" href="../styles/newProduct.css">
    <link rel="stylesheet" href="../styles/backElement.css">
    <link rel="stylesheet" href="../styles/reportStatus.css">
    <link rel="stylesheet" href="../styles/succesAlert.css">
</head>
<body>
    <div id="backElelemet"></div>

    <div id="alertElement"></div>
    <div class="headerContainer">
        <div class="titleNewProd">
            <h2>Datos del articulo <span id="productId"></span></h2>
        </div>

        <div class="logoContainer">
            <img src="../img/logo.png" alt="">
        </div>
    
        <div class="inputProducts">
            <div class="configContent">
                <strong>Gestión de Productos</strong>
                <input type="checkbox" name="checkDate" id="checkDate">
                <div class="settingsContent">
                    <img src="../img/flecha.png" alt="">
                </div>
            </div>


            <div class="controllerInput">
                <div class="butonContent">
                    <button id="saveProduct">CREAR</button>
                    <button id="serialNum" style="display: none;">SERIES</button>
                    <button id="openKits">KITS</button>
                </div>
            </div> 

            <div class="searcherInput">
                <div class="searchController">
                    <input type="text" id="searcherIn" placeholder="BUSCAR . . .">
                </div>
            </div>
        </div>
    </div>

    <div id="alert">

    </div>


    <!-- contenedor de la guía de la lista de productos -->
    <div class="contentProductList" id="contentProductList"></div>

    <div id="containerAllProducts">
        <div id="searchConainer">
        <!-- se ubican los resultados de busqueda -->
        </div>
        <div id="prductsList">
            <!-- ACA SE UBICAN TODOS LOS PRODUCTOS-->
        </div>
    </div>

    
    
    <div id="modifyContent">

    </div>

    <script src="../scripts/newProduct.js"></script>
</body>
</html>
