<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NUEVA PROVINCIA</title>
    <link rel="stylesheet" href="../styles/newRegion.css">
</head>
<body>
    <div class="titleContent">
        <h2>AÑADIR PROVINCIA</h2>
    </div>
    <div class="containerInput">
        <div class="inputContent">
            <input type="text" id="nameNewRegion" placeholder="NOMBRE . . .">
        </div>
        <div id="alertContent"></div>
    </div>
    <div class="buttonController">
        <button id="cancelProcess">CANCELAR</button>
        <button id="saveNewRegion">GUARDAR</button>
    </div>

    <script src="../scripts/newRegion.js"></script>
</body>
</html>