<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NUEVO REMITO</title>
    <link rel="stylesheet" href="../styles/newVoucher.css">
    <link rel="stylesheet" href="../styles/reportStatus.css">
    <link rel="stylesheet" href="../styles/backElement.css">
</head>
<body>
    <div id="backBtnDiv"></div>
    <div id="addNewSerial"></div>
    <div class="headerVoucher">
        <div class="nameVoucher">
            <strong id="nameVoucherCtaCte"></strong>
        </div>
        <div class="dateInput">
            <strong><span id="date"></span></strong>
        </div>
    </div>

    <div class="headerContent">
        <div class="buttonContainer">
            <button id="searchKit">KIT</button>
        </div>
    </div>

    <div class="kitContainer">
        <div class="titleContainerKits">
            <h3>Kits encontrados</h3>
            <div class="containerGuideKit">
                <strong>Nombre</strong>
                <strong>Valor</strong>
            </div>
        </div>
        <div id="kitContainerResults">
            <!-- se ubican los resultados del kit -->
        </div>
        <button id="quitWindowKits">Cancelar</button>
    </div>

    <div class="bodyContent">
        <div class="leftAndRightContent">
            <!-- se ubica el controlador de buscar productos -->
            <div class="left">
                <div class="containerSearcher" id="containerSearcher">
                    <div class = "headerList">
                        <input type="text" id="startSearchProd" placeholder = "Buscar . . ." >
                        
                        <div class="searchForContentHeader">
                            <label for = "typeSearch"> BUSCAR POR </label>
                            <select id="searchFor">
                                <option select> NOMBRE </option>
                                <option>CODIGO</option>
                            </select>
                        </div>
                    </div>
                    <div class="contentProducts" id = "contentProducts">
            
                        <div calss = "insertProducts" id="insertProducts">
                            <!-- se insertan los productos coincidientes -->
                        </div>
                    </div>
                </div>
            </div>

            <div id="alertContainer">
                
            </div>

            <div class="right">
                <div class="products">
                    <div class="cilData">
                        <div class="inputProd">
                            <strong id="insideidProd"></strong>
                            <strong id="dbIdProd"></strong>
                        </div>
                        <div class="inputProd">
                            <strong id="nameProd"></strong>
                        </div>
                        <div class="inputProd">
                            <strong id="value"></strong>
                        </div>
                        <div class="inputProd">
                            <input type="number" id="ammount">
                        </div>
                    </div>
                    <button id="addProdList">AGREGAR</button>

                    <div class="containerProductsAndSerial">
                        <div class="leftContainer">
                            <div class="guideContain" id="guideContain"></div>
                            <div class="listProducts" id="listProdContent">

                            </div>
                        </div>
                            
                        

                        <div class="SerialContainer" id="listSerial">

                        </div>
                    </div>
                    

                    <div class="discountAndTotal">
                        <div class="section">
                            <label for="discount">DESCUENTO </label>
                            <input type="number" name="discount" id="discount">                        
                        </div>
                        <div class="section">
                            <strong>TOTAL : <samp id="totalValue">0</samp></strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttonController">
            <button id="saveVoucher">GUARDAR REMITO</button>
        </div>
    </div>

    <script src="../scripts/newVoucher.js"></script>
</body>
</html>