<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VER KITS</title>
    <link rel="stylesheet" href="../styles/openKits.css">
    <link rel="stylesheet" href="../styles/backElement.css">
    <link rel="stylesheet" href="../styles/reportStatus.css">
</head>
<body>
    <div id="backBtnContent"></div>
    <div id="statusContainer"></div>
    <div class="header">
        <h2>KIT</h2>

        <div class="kitController" id="kitController">
            <button id="newKit">NUEVO</button>
        </div>
    </div>  
    <div id="openWindow">
        
    </div>

    <strong class="referenceKitList">Lista de Kits</strong>
    <div class="listKits" id="listKits">

    </div>
    <div id="alert">
            
    </div>
    <!-- controlador del kit seleccionado -->
    <div class="valueKit" id="valueKit">
        <!-- contenedor del nombre -->
        <div class="contentNameKit">
            <label for="nameKit">Nombre</label>
            <input type="text" name="nameKit" id="nameKit">
        </div>

        <!-- buscador de productos dentro de la base de datos -->
        <div class="addProductAtTheKit">
            <input type="text" id="searchProductOfTheDb" placeholder="Añadir producto . . . ">
            <div id="containerResults"></div>
        </div>
        <!-- buscador de productos dentro del kit -->
        <div class="searchProductOfTheListContent">
            <input type="text" id="searchProductOfTheList" placeholder="Buscar en lista . . .">
            <div id="containerResultsOfTheList"></div>
        </div>
        <div id="productsContainerOfTheKit">
            <!-- aca se ubican los productos del kit -->
        </div>
        <div class="valuesContent">
            <!-- contenedor del valor de costo -->
            <div class="costInputContent">
                <label for="costContent">Costo </label>
                <input type="number" name="costContent" id="costContent">
            </div>
            <!-- contenedor del valor de venta -->
            <div class="buyInputContent">
                <label for="buyContent">Venta</label>
                <input type="number"  id="buyContent">
            </div>
        </div>
        <div class="buttonCloseContainer">
            <button id="closeWindowKit">Cerrar</button>
            <button id="deleteKit">Eliminar Kit</button>
            <button id="saveKit">Guardar</button>
        </div>
    </div>

    <!-- controlador para añadir un nuevo kit -->
    <div  id="createKit">
        <!-- contenedor del nombre -->
       <div class="nameNewKitContent">
            <label for="nameNewKitInput">Nombre</label>
            <input type="text" name="nameNewKitContent" id="nameNewKitContent"placeholder="Kit 5ta/con rampa . . . ">
       </div>
       <div class="searchPoductsForTheNewkit">
            <div class="searchContainer">
                <input type="text" id="searchProductForNewKit" placeholder="Nuevo producto . . .">
                <div id="resultsOfTheSearch">
                    <!-- se ubican los resultados de la busqueda de los productos -->
                </div>
            </div>
       </div>
       <!-- contenedor de los productos -->
       <div class="contentProductsOfTheKit" id="contentProductsOfTheNewKit">

       </div>
       <div class="kitValue">
            <label for="saleValueNewKit">Valor de venta</label>
            <input type="text" name="saleValueNewKit" id="saleValueNewKit">
       </div>
       <!-- contenedor de los botones -->
        <div class="newKitController">
            <button id="cancelProcessNewKit">Cancelar</button>
            <button id="createNewKit">Crear</button>
        </div>
    </div>

    <script src="../scripts/openKits.js"></script>
</body>
</html>