<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COBAR CILINDRO</title>
    <link rel="stylesheet" href="../styles/payCilinder.css">
</head>
<body>
    <!-- se ubica la ventana del pago de cilindros -->
    <div id="payWaferContent">

    </div>

    <div class="bodyContent">
        <div class="searcherContent">
            <div class="searcher">
                <input type="text" name="searchClient" onkeyup="searchClients(event)" id="searchClient" placeholder="BUSCAR . . ." >
            </div>

            <div class="searchResults" id="searchResults">

            </div>
        </div>

        <div id="listCtaCte">
            <div id="searchContentResults"></div>
            <div class="listAllClients" id="listAllClients"></div>
        </div>
    </div>
    <script src="../scripts/payCilinder.js"></script>
</body>
</html>