<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMPRIMIR CEVIGAS</title>
    <link rel="stylesheet" href="../styles/printCevigas.css">
</head>
<body>
    <!-- imprimir -->
    <button id="printButton">IMPRIMIR</button>
    <button id="saveChanges">Guardar cambios</button>
    <div id="containerAll">
        <!-- datos por defecto  -->
        <strong id="idSpan">-3168</strong>
        <strong id="brandWorkShop">NOROESTECIL S.R.L</strong>
        <strong id="streetWorkshop">Leandro N Alem 3507 </strong>
        <strong id="locationWorkshop">Jose c paz (1665)</strong>
        <strong id="telWorkshop" >Tel : 02320 - 570365</strong>
        <strong id="rtWorkshop">RT : ing A. de Santos C.P.I.L4501</strong>
        <strong id="firma">ing Industrial</strong>
        <strong id="nameIng">JORGE DE SANTOS</strong>
        <strong id="domainIng">Matr. 4501</strong>
        <strong id="cruz1">X</strong>
        <strong id="cruz">X</strong>
        <strong id="getWorkshopCode"></strong>
        <!-- datos dinamicos -->
        <div id="dinamycData">

        </div>
    </div>
    <script src="../scripts/printCevigas.js"></script>
</body>
</html>

