<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CARTA DE COMPROMISO</title>
    <link rel="stylesheet" href="../styles/printCompromisSheet.css">
    <link rel="stylesheet" href="../styles/backElement.css">
    <link rel="stylesheet" href="../styles/reportStatus.css">
</head>
<body>
    <div id="backTo"></div>
    <div id="reportStatus"></div>
    <button id="printSheet">IMPRIMIR</button>

    <div class="ownerClientName">
        <input type="text" >
    </div>

    <div class="containerAll">
        <div class="header">
            <div class="title">
                <h2>NOROESTECIL S.R.L</h2>
                <p>Leandro N Alem 3507 - <span>Jose C Paz (1665)</span> </p>
            </div>

            <div class="codeCrpc">
                <div class="codesRef">
                    <strong>Codigo CRPC</strong>
                    <strong>NORO</strong>
                </div>
                <div class="codesRef">
                    <strong>Maricula ENERGAS</strong>
                    <strong>3168</strong>
                </div>
            </div>
        </div>

        <div class="descriptionFunctionSheet">
            <h3>CARTA COMPROMISO DE CONFORMIDAD PARA LA REVISION DE CILINDROS PARA GNC</h3>
        </div>

        <div class="tdmAndData">
            <div class="firmData">
                <strong>Sres. De PEC o TDM :</strong>
                <strong class="firm"></strong>
            </div>

            <div class="firmData">
                <strong>LUGAR Y FECHA : </strong>
                <strong class="firm"></strong>
            </div>
        </div>

        <div class="secondDescription">
            <strong>De mi concidraciòn</strong>  <br>
            <strong>Por la presente , autorizo la destrucciòn del cilindro para GNC , su valvula que indica la normativa vigente del ENARGAS</strong> <br>
            <strong>Dicha autorizaciòn  se refiere a los siguientes CILINDROS y VALVULAS de mi propiedad</strong>
        </div>
        <div class="frameContainer">
            <div class="firstGuide">
                <strong>CILINDROS</strong>
                <strong>VALVULAS</strong>
            </div>

            <div class="secondGuide">
                <div class="dataFile" id="omologationCils">
                    <div class="infoSerialCils" id="infoSerialCils">
                        <strong>MARCA</strong>
                        <strong>N°SERIE</strong>
                        <strong>VOLUMEN</strong>
                        <strong>MASA</strong>
                    </div>
                </div>
                <div class="dataFile" id="omologationCils">
                    <div class="infoSerialCils" id="infoSerialCils">
                        <strong><input type="text" name="inputContent" id="omologation0" maxlength="4"></strong>
                        <strong><input type="text" name="inputContent" id="serialnumber0"></strong>
                        <strong><input type="text" name="inputContent" id="volmedido0" maxlength="4"></strong>
                        <strong><input type="text" name="inputContent" id="taramedido0" maxlength="4"></strong>
                    </div>
                </div>

                <div class="dataFile">
                    <div class="infoSerialCils">
                        <strong><input type="text" name="inputContent" id="omologation1" maxlength="4"></strong>
                        <strong><input type="text" name="inputContent" id="serialnumber1" ></strong>
                        <strong><input type="text" name="inputContent" id="volmedido1" maxlength="4"></strong>
                        <strong><input type="text" name="inputContent" id="taramedido1" maxlength="4"></strong>
                    </div>
                </div>

                <div class="dataFile">
                    <div class="infoSerialCils">
                        <strong><input type="text" name="inputContent" id="omologation2" maxlength="4"></strong>
                        <strong><input type="text" name="inputContent" id="serialnumber2" ></strong>
                        <strong><input type="text" name="inputContent" id="volmedido2" maxlength="4"></strong>
                        <strong><input type="text" name="inputContent" id="taramedido2" maxlength="4"></strong>
                    </div>
                </div>

                <div class="dataFile">
                    <div class="infoSerialCils">
                        <strong><input type="text" name="inputContent" id="omologation3" maxlength="4"></strong>
                        <strong><input type="text" name="inputContent" id="serialnumber3"></strong>
                        <strong><input type="text" name="inputContent" id="volmedido3" maxlength="4"></strong>
                        <strong><input type="text" name="inputContent" id="taramedido3" maxlength="4"></strong>
                    </div>
                </div>

            </div>
        </div>

        <div class="optionContent">
            <div class="checkOption">
                <label>REVISION PERIODICA</label>
                <input type="checkbox" checked>
            </div>
            <div class="checkOption">
                <label>REINSTALACION</label>
                <input type="checkbox">
            </div>
            <div class="checkOption">
                <label>INCENDIO</label>
                <input type="checkbox">
            </div>
        </div>

        <div class="lorem">
            <strong>PROPIETARIO :</strong>
            <P>(En caso de reinstalaciòn consignar el propietario del vehiculo que se desmonta)</P>
        </div>
        
        <div class="clientData">
            <div class="dataDiv" id="nameAndSurnameDiv">
                <div class="nameAndDniCon" id="specialContent"> 
                    <strong>APEILLIDO Y NOMBRE:</strong>
                    <input type="text"name="inputContent" class="userData" id="nameandsurname"> 
                </div>
                <div class="nameAndDniCon">
                    <strong>DNI,LC Nº:</strong>
                    <input type="text" name="inputContent" class="userData" id="dni">
                </div>
            </div>
            <div class="dataDiv">
                <div class="nameAndDniCon">
                    <strong>DIRECCION:</strong>
                    <input type="text" name="inputContent" class="userData" id="direccion">   
                </div>
                
                <div class="nameAndDniCon">
                    <strong>LOCALIDAD:</strong>
                    <input name="inputContent" class="userData" id="country">
                </div>
                <div class="nameAndDniCon">
                    <strong>CP:</strong>
                    <input name="inputContent" class="userData" id="cp">
                </div>
                
            </div>
            <div class="dataDiv" id="row3">
                <div class="nameAndDniCon">
                    <strong>PROVINCIA:</strong>
                    <select name="inputContent" class="userData" id="provincia"></select>
                </div>
                <div class="nameAndDniCon">
                    <strong>DOMINIO:</strong>
                    <input type="text" name="inputContent" class="userData" id="domain">
                </div>
                <div class="nameAndDniCon">
                    <strong>OBLEA:</strong>
                    <input type="text" class="userData" id="wafer">
                </div>
                
            </div>
        </div>

        <div class="infoTdm">
            <strong>TALLER DE MONTAJE QUE DESMONTO EL CILINDRO</strong>
            <div class="infoTdmContainer">
                <p>Denominacion o firma</p>
                <p>Telefono</p>
                <p>Direccion</p>
                <p>Codigo TDM</p>
            </div>
        </div>

        <div class="completeEquipamentProduccer">
            <strong>PRODUCTOR DE EQUIPOS COMPLETOS</strong>
            <div class="infoProducer">
                <p>Pec Nº : <strong id="numberPec"></strong> </p>
                <p>Nombre :</p>
            </div>
        </div>

        <div class="statmentTwo">
            <p>DECLAR QUE LOS DATOS CONSIGNADOS CON ANTERIORIDAD SON VERACES,RESPONZABILIZANDOME ANTE CUAQUIER DIFERENCIA QUE PUEDA SURGIR COMO PROPIETARIO, RENUNCIANDO A CUALQUIER RECLAMO POSIBLE</p>
        </div>

        <div class="firmsTdmAndClient">
            <div class="finalFirms">
                <div class="leftFirms">
                    <div class="firmT">
                        <strong></strong>
                        <p>FIRMA Y SELLO DEL TDM</p>
                    </div>
                    <div class="firmT">
                        <strong></strong>
                        <p>ACLARACION</p>
                    </div>
                </div>

                <div class="rightFirms">
                    <div class="firmT">
                        <strong></strong>
                        <p>FIRMA DEL PROPIETARIO</p>
                    </div>
                    <div class="firmT">
                        <strong></strong>
                        <p>ACLARACION</p>
                    </div>
                </div>
            </div>
            <div class="finalFirms"></div>
        </div>
    </div>
    <script src="../scripts/printCompromisSheet.js"></script>
</body>
</html>