<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remitos guardados</title>
    <link rel="stylesheet" href="../styles/seeVouchers.css">
    <link rel="stylesheet" href="../styles/backElement.css">
    <link rel="stylesheet" href="../styles/reportStatus.css">
</head>
<body>
    <div id="backElementContent"></div>
    <div id="repoartStatus"></div>
    <div class="searchContent">
        <h3>Remitos guardados</h3>
        <div class="containerSearchController">
            <input type="number" id="searchVoucherInput" placeholder="Buscar . . .">
            <button id="startSearchVoucher">Buscar</button>
        </div>

        <div id="voucherAproximateContent">
            
        </div>
    </div>
    
    <div id="voucherContainer"></div>

    <script src="../scripts/seeVouchers.js"></script>
</body>
</html>