<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USUARIOS WEB</title>
    <link rel="stylesheet" href="../styles/seeWebClients.css">
</head>
<body>
    <div class="titleContent">
        <h2>USUARIOS WEB</h2>
    </div>

    <div class="searcherContainer">
        <div class="searchController">
            <input type="text" name="searchData" id="searchData" placeholder="BUSCAR . . .">
            <select name="searchFor" id="searchFor">
                <option value="1" selected>NOMBRE</option>
                <option value="2">TALLER</option>
            </select>
        </div>
    </div>   

    <div id="alertContainer">

    </div>

    <div id="searchResults"> 

    </div>
    <div id="guideUsers">

    </div>
    <div id="usersContainer">

    </div>

    <div class="buttonController">
        <button id="closeWindow">SALIR</button>
    </div>

    <script src="../scripts/seeWebClients.js"></script>
</body>
</html>