<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONDENA</title>
    <link rel="stylesheet" href="../styles/sentenceWindow.css">
</head>
<body>
    
    <div class="titleContent">
        <h2>ANOMALIA DETECTADA</h2>
    </div>

    <div class="checkContent" id="checkContent">
        <div class="section">
            <div class="opContainer">
                <label for="globos">GLOBOS</label>
                <input type="checkbox" name="globos" class="A1">
            </div>
            <div class="opContainer">
                <label for="abolladuras">ABOLLADURAS</label>
                <input type="checkbox" name="abolladuras" class="A2">
            </div>
            <div class="opContainer">
                <label for="abolladurasEstrias">ABOLLADURAS CONTENIENDO ESTRIAS</label>
                <input type="checkbox" name="abolladurasEstrias" class="A3">
            </div>
            <div class="opContainer">
                <label for="fisuras">FISURAS</label>
                <input type="checkbox" name="fisuras" class="A4">
            </div>
            <div class="opContainer">
                <label for="laminacion">LAMINACION</label>
                <input type="checkbox" name="laminacion" class="A5">
            </div>
            <div class="opContainer">
                <label for="pinchaduras">CILINDR CON PINCHADURAS </label>
                <input type="checkbox" name="pinchaduras" class="A6">
            </div>
        </div>

       <div class="section">
            <div class="opContainer">
                <label for="rosca">DEFECTO EN ROSCA</label>
                <input type="checkbox" name="rosca" class="A7">
            </div>
            <div class="opContainer">
                <label for="desgaste">DESGASTE LOCALIZADO</label>
                <input type="checkbox" name="desgaste" class="A8">
            </div>
            <div class="opContainer">
                <label for="corrosion">CORROSION</label>
                <input type="checkbox" name="corrosion" class="A9">
            </div>
            <div class="opContainer">
                <label for="ovalizacion">OVALIZACION</label>
                <input type="checkbox" name="ovalizacion"  class="A10">
            </div>
            <div class="opContainer">
                <label for="falla">FALLA  DEFECTO DE MARCADO O  ESTAMPADO</label>
                <input type="checkbox" name="falla" class="A11">
            </div>
            <div class="opContainer">
                <label for="expansionVol">EXPANSION VOLUMETRICA <br> SUP. A LA ADMISIBLE</label>
                <input type="checkbox" name="expansionVol" class="A12">
            </div>
       </div>

       <div class="section">
            <div class="opContainer">
                <label for="fuegoCalor">CILINDRO CON DAÑOS POR FUEGO O CALOR</label>
                <input type="checkbox" name="fuegoCalor" class="A13">
            </div>
            <div class="opContainer">
                <label for="otros">OTROS</label>
                <input type="checkbox" name="otros" class="A14">
            </div>
            <div class="opContainer">
                <label for="otros">OTROS</label>
                <input type="checkbox" name="otros" class="A15">
            </div>
            <div class="opContainer">
                <label for="expansionVol">OTROS</label>
                <input type="checkbox" name="otros" class="A16">
            </div>

            <div class="opContainer">
                <label for="ninguno">NINGUNO</label>
                <input type="checkbox" name="ninguno" class="A0">
            </div>
       </div>
    </div>

    <div class="buttonController">
        <button id="backTo">ANTERIOR</button>
        <button id="saveAndExit">GUARDAR Y SALIR</button>
    </div>
    <script src="../scripts/sentenceWindow.js"></script>
</body>
</html>