<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cilindro para GNC</title>
    <link rel="stylesheet" href="../styles/upCilinder.css">
</head>
<body>
    <div class="title">
        <h2>NUEVO CILINDO</h2>
    </div>
    
    <div class="containerInputs">
        <div class="inputContent">
            <input type="text" name="code" id="code" placeholder="CODIGO . . .">
        </div>
        <div class="inputContent">
            <input type="number" name="capacity" id="capacity" placeholder="CAPACIDAD . . .">
        </div>
        <div class="inputContent">
            <input type="text" name="brand" id="brand" placeholder="MARCA . . .">
        </div>
        <div class="inputContent">
            <input type="text" name="rules" id="rules" placeholder="NORMA DE FABRICACION ">
        </div>
        <div class="inputContent">
            <input type="number" name="thikness" id="thikness" placeholder="ESPESOR . . .">
        </div>
        <div class="inputContent">
            <input type="text" name="coefficient" id="coefficient" placeholder="COEFICIENTE . . .">
        </div>
        <div class="inputContent">
            <input type="text" name="diametter" id="diametter" placeholder="DIAMETRO . . .">
        </div>
        <div class="inputContent">
            <input type="text" name="expTotal" id="expTotal" placeholder="EXPANSION TOTAL . . .">
        </div>
        <div class="inputContent">
            <input type="text" name="expPer" id="expPer" placeholder="EXPANSION PERMANENTE . . .">
        </div>
        <div class="inputContent">
            <input type="text" name="material" id="material" placeholder="MATERIAL . . .">
        </div>
    </div>
    <div class="buttonControllers">
        <button id="quitNewCilinder">CANCELAR</button>
        <button id="addNweCil"> AGREGAR </button>
    </div>

    <script src="../scripts/upCilinder.js"></script>
</body>
</html>