*{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
strong{
    position: absolute;
}
#elementsContainer{
    position: absolute;
    width: 100%;
    height: 100vh;
}

@media print {
    *{
        margin: 0;
        padding: 0;
    }
    @page {
        margin: 0; /* Elimina márgenes de la página */
    }
    button{
        display: none;
    }
    #elementsContainer{
        position: absolute;
        width: 100%;
        height: 100vh;
    }
}